<div class="topRow">
  <div class="secondRow">
    <h2 style='min-width: 170px;'>Projecten</h2>
    <button *ngIf="isAdmin" (click)="goToAdmin()">Ga naar admin pagina</button>
    <button mat-raised-button (click)="goToCreate()" style="width:186px !important;line-height: 18px;" class="add-button"> Project aanmaken</button>
    <button mat-raised-button (click)="readExcel()" class="add-button-green">Uniforme excel inlezen</button>
    <nb-toggle  (checkedChange)="showConnectedUsers()"><span style="white-space: pre-line; font-size: 14px !important;">{{!isViewConnectedUsers ? 'Toon gekoppelde\ngebruikers' : 'Verberg gekoppelde\ngebruikers'}}</span></nb-toggle>
  </div>
  <div class="innerRow">
    <div class="colFlexer">
      <p style='min-width: 65px; margin-bottom: 0px !important;font-size: 15px; text-decoration: underline;margin-left: 3px;'>Zoek op</p>
      <nb-select  [(ngModel)]="searchSelect" id="extras">
        <nb-option (selectionChange)="selectItem(item)" type="checkbox" *ngFor="let item of searchItems"
                   value="{{ item }}">
          {{ item }}</nb-option>
      </nb-select>
    </div>
    <form *ngIf="searchItem === 'Project nr.'" class="search-form">
      <input style='width: 200px; margin-right: 10px;height:46px !important;'     class="search-box" #categoryInput nbInput type="text" matInput [formControl]="searchForm"
      #searchInput  type="text" (keyup)="onSearchInput(searchInput.value)" placeholder="Zoeken..." />
    </form>
    <form *ngIf="searchItem === 'Projectnaam'" class="search-form">
      <input style='width: 200px; margin-right: 10px;height:46px !important;'   class="search-box" #categoryInput nbInput type="text" matInput [formControl]="searchForm"
        #searchInput  type="text" (keyup)="onSearchInput(searchInput.value)" placeholder="Zoeken..." />
    </form>
    <form *ngIf="searchItem === 'Gemeente'" class="search-form">
      <input style='width: 200px; margin-right: 10px;height:46px !important;'   class="search-box" #categoryInput nbInput type="text" matInput [formControl]="searchForm"
        #searchInput  type="text" (keyup)="onSearchInput(searchInput.value)" placeholder="Zoeken..." />
    </form>
  </div>
</div>


<form *ngIf="isLoaded" [formGroup]="groupForm" class="add-form">
  <div cdkScrollable class="scroll-table">
    <table cdkDropList class="item-list">
      <tr class="item-box-header">
        <th style='max-width:180px'></th>
        <th style='padding-right: 15px;'>Projectnaam</th>
        <th>Details</th>
        <th style='max-width: 210px'>Naam rioolbeheerder</th>
        <th class='maxWidth120'>Aantal aansluitingen</th>
        <th class='maxWidth80' *ngIf="company?.P0 != null || company?.prijsPerHA != null">Betaald</th>
      </tr>
      <ng-container *ngFor="let group of searchedGroups; let i = index">
      <tr class="item-box2 scroll">
        <td  style='max-width:180px'>
          <div class="buttonsRow">
            <input type="button" (click)="openGroup(group)" value="OPEN" class="openButton">
          </div>
        </td>
        <td style='line-height: 1.1rem;  color: blue;padding-right: 15px;'>{{group.rbProjectNaam}}</td>
        <td>
          <div class='detailsColumn'>
            <p class='detailsText'><span class='smallBijText'>gemeente: </span>{{group.rbGemeente}}</p>
            <p class='detailsText'><span class='smallBijText'>projectnr: </span>{{group.aannemerProjectNr}}</p>
            <p class='detailsText'><span class='smallBijText'>startdatum: </span>{{group.createdDate.toLocaleDateString()}}</p>
          </div>
        </td>
        <td style='max-width: 210px'>{{group.rbNaam}}</td>
        <td class='maxWidth120'>
          <div  class='detailsColumn'>
            <p class='detailsText'><span class='smallBijText smaller'>HA: </span>{{group.haCount}}</p>
            <p class='detailsText'><span class='smallBijText smaller'>Kolk: </span>{{group.kolkCount}}</p>
          </div>
        </td>
        <td class='maxWidth80' *ngIf="(company?.P0 != null || company?.prijsPerHA != null)">{{ paidGroup[i]  + '/' + (paidGroup[i] + unPaidGroup[i]) }}</td>
      </tr>
      <tr class="item-box-connected-users" *ngIf="isViewConnectedUsers">
        <td colspan="2" style="max-width:210px;" class="connectedText"><b style="text-decoration: underline">Gekoppelde gebruikers</b></td>
        <td colspan="3" style="width:100%" class="connectedText"> <div class='nameFlex'><span *ngFor='let user of group.users' class='user'>{{user.name}} {{user.versionNumber != null ? '(V' + user.versionNumber + ')' : ''}}</span></div></td>
      </tr>
      </ng-container>
    </table>
  </div>
</form>

