<div class="container">

  <p class="text">Wachtwoord opnieuw instellen</p>

  <div>
    <label class="label" >Geef nieuw wachtwoord in: </label>
    <input nbInput fullWidth [(ngModel)]="wachtwoord1"
     placeholder="wachtwoord 1" type="password" fieldSize="large" autofocus>
  </div>

  <div>
    <label class="label" style="margin-top: 20px !important;" >Herhaal wachtwoord: </label>
    <input nbInput fullWidth [(ngModel)]="wachtwoord2"
     placeholder="wachtwoord 2" type="password" fieldSize="large" autofocus>
  </div>

  <div class="button-container">
    <input (click)="login()" class="loginButton" type="button" value="Verander wachtwoord">

  </div>


  <!-- <div class="buttonDiv">
    <p class="smallText">Geef je nieuwe wachtwoord 2 maal in.</p>
    <p class="text2">Wachtwoord:</p>
    <input [(ngModel)]="wachtwoord1"  class="inputBox" type="text" value="">
    <p class="text2">Wachtwoord herhalen:</p>
    <input [(ngModel)]="wachtwoord2"  class="inputBox" type="text" value="">
  </div> -->
</div>

