.edit-card {
  margin: 15px;
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75) !important;
  border-radius: 15px;
  width: 100%;
  box-shadow: #00000030 0 10px 20px, #0000003b 0 6px 6px;

}

.mar {
  margin-left: -225px;
  margin-top: 14px;
}

.edit-form {
  width: 100%;
}

.edit-form tr {
  width: 100%;
}

.edit-form table {
  width: 100%;
}

.edit-form input {
  margin: 5px;
  width: 100%;
}

.edit-form textarea {
  margin: 5px;
  width: 100%;
}

.edit-form th {
  margin: 5px;
}

.edit-form nb-select {
  margin: 5px;
  width: 100%;
}

.select-box {
  min-width: 100%;
}

.edit-button {
  margin: 5px;
  padding: 5px;
}

.mat-label {
  width: 100px;
}

.form-button {
  width: 150px;
  margin: 5px;
  font-weight: 800;
  letter-spacing: 1.4pt;
  font-size: 1.2em;
}

.item-photo {
  width: 16vw;
  height: 9vw;
  margin: 5px;
}

image-cropper {
  width: 50vw;
  height: 28vw;
}

.photo-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.opslaan-spinner{
  background-color: white;
  width:160px;
  height:170px;
  --spinner-text-font-size:24px !important;
  --spinner-height-giant: 5rem;
  //poisiton center
  position: fixed;
  top: calc(50% - 90px);
  left: calc(46% - 90px);
  border-radius: 10px;
  box-shadow:  0 0 10px 5px rgba(0, 0, 0, 0.2);
  display:flex;
  flex-direction:column;
  justify-content:center;
  gap: 40px 0;
  align-items:center;
}
