<div style="text-align: center; padding:14px;">
  <p style="font-weight: bold;">Attentie ! Deze aansluiting is {{formService.workerHours}} uur geleden geopend door grondwerker {{formService.workerName}}.<br> U kan best niet op de zelfde dag de aansluiting bewerken
    omdat er een risico is dat u aanpassingen kan verwijderen.</p>
  <div style="display: flex; justify-content: space-evenly; margin: auto;">
    <button  mat-raised-button (click)="closeDialog()" >
      Annuleren
    </button>
    <button mat-raised-button color="warn" (click)="onChange()">
      Toch opslaan
    </button>
  </div>
</div>
