<div style="text-align: center;padding:14px;">
  <p style="font-weight: bold; text-decoration: underline">Kies benaming van de fiches</p>
  <div style='display:flex;flex-direction: row; justify-content: space-evenly;align-items: center'>
    <div class='innerColumn'>
      <p class='infoText'>Bv: GEM=AA projectnr=RB0032 adres= hamerstraat-17A wa=RB0032-volgnr=5 AB-HA-fiche.pdf </p>
      <button class='button2' mat-raised-button color="primary" (click)="naamgevingFicheBenaming()" >
        Naamgeving fiche als benaming
      </button>
    </div>
    <div class='innerColumn'>
      <p class='infoText'>Bv: WA-hamerstraat-17A-volgnr5.pdf </p>
      <button class='button2' mat-raised-button color="primary" (click)="normaleBenaming()" >
        Normale benaming
      </button>
    </div>
  </div>
</div>



