<div style="text-align: start;padding:14px;">
  <p style="font-weight: bold;">Laatste nieuwe aanpassingen:</p>
  <ul>
    <li>Toevoeging keuze opsplitsing bocht in 45° en 90° bij 'Invulvelden uitzetten'</li>
    <li>Vanaf v9.8 wordt de gps-locatie bijgehouden bij het trekken van de eerste foto,<br>
    deze gps locatie kan worden bekeken op een map + men kan ook het geschatte adres ophalen</li>
    <li>Nieuwe versie software website & plugins + bijwerkingen</li>
    <li>Extra controles op foute invoer van waardes in mobiele app met popup melding</li>
  </ul>
  <p>
   <b> Let op: Mobiele gebruikers die de app vóór 01/07/23 hebben geïnstalleerd, dienen deze te verwijderen en opnieuw te downloaden om zo de laatste versie (V9.8) te gebruiken, die toekomstige verbeteringen automatisch zal bijwerken. (zoals vermeld via email)</b>
  </p>
</div>

