<div class="container">
  <h6>Aanpassingen aan de KOLK volgens AWV sinds 13/07/24 - V18.1</h6>
  <ul>
    <li>Buis opgesplitst in buis horizontaal en buis verticaal
      <span class="note">(waardes die ingevuld zijn voor deze update worden getoond bij horizontaal)</span>
    </li>
    <li>Nieuwe waarde: Type kolk = 'Beton' of 'Gietijzer'</li>
    <li>Aanpassing waarde: 'Aansluiting op open gracht' wordt 'Aansluiting op vrije uitstroom? (bufferbekken/gracht/wadi)'</li>
    <li>Bij projecten voor AWV: 2 extra schetsen + 2 verschillende lambertcoördinaten vereist</li>
  </ul>

  <h6>Algemene verbeteringen sinds 13/07/24 - V18.1</h6>
  <ul>
    <li>Nieuwe schademeldingsmodule</li>
    <li>Meerwerken: verbeteringen + nieuwe waarde = 'Activiteit'</li>
    <li>Meerwerk- en schademeldingpdfs genereren van het gehele project</li>
    <li>Straatsuggesties nu ook zichtbaar bij nieuwe huisaansluitingen,onvoorziene werken,schademeldingen en de kolken </li>
    <li>Nieuwe taal mobiele app: Pools</li>
    <li>Mobiele app verbeteringen design en werking</li>
    <li>Update plugins software</li>
    <li>Betere foutopvang, sneller behandelen van bugs</li>
  </ul>

  <div class="version">Laatste versie van mobiele app: V18.1</div>
</div>
