<div style="text-align: start;padding:14px;">
  <p style="font-weight: bold;">Vanaf versie V9.8 op 17/02/2024</p>
  <ul>
    <li>Toevoeging <b>keuze opsplitsing bocht in 45° en 90°</b> per project bij 'Invulvelden uitzetten'</li>
    <li>Vanaf v9.8 wordt de <b>gps-locatie bijgehouden bij het trekken van de eerste foto</b>,
    deze gps locatie kan worden bekeken op een map + men kan ook het geschatte adres ophalen</li>
    <li><b>Nieuwste versies software mobiele app, website & plugins</b></li>
  </ul>
  <p style="font-weight: bold;">Vanaf versie V12.2 op 23/03/2024</p>
  <ul>
    <li><b>Mogelijkheid straten voorstellen bij nieuwe aanmaak van kolk in de mobiele app (in projectinstellingen)</b></li>
    <li>Datum wordt bijgehouden wanneer <b>aansluiting wordt aangevinkt als afgewerkt ('Afwerkingsdatum')</b> en is achteraf aanpasbaar op website-> bij nieuwe projecten mogelijkheid om <b>meetstaat te downloaden tussen afwerkingsdatums</b></li>
    <li>Sneller inladen lijst mobiele app + nieuwe navigatie mogelijkheid</li>
    <li>Verbeterde sorteer- en filterfunctionaliteiten</li>
    <li><b>Toevoeging waarde: 'Herbruik van bestaande aansluiting' bij kolk</b></li>
    <li>Extra controles op foute invoer van waardes in mobiele app met popup melding</li>
  </ul>
  <p style="font-size: 16px; font-weight: 600;margin-left: 10px;">Verbeterde en snellere pdf-generatie voor grote projecten</p>
  <p style="font-weight: bold;margin-left: 10px;">Laatste versie van mobiele app: V15.2</p>

</div>

