<div class="topRow">
  <button style="width: 95px;  margin-left: 0px !important; font-size: 16px" mat-raised-button class="form-button2" (click)="goToPrevious()" [disabled]="checkIfHasSelected()" [ngClass]="checkIfHasSelected() ? 'halfOpacity': ''">
    Terug
  </button>
  <button style="width: 90px;" *ngIf="isArchived === false"  mat-raised-button class="form-button2" [disabled]="checkIfHasSelected() " [ngClass]="checkIfHasSelected()  ? 'halfOpacity': ''"
    (click)="archiveGroup()">Archiveren</button>
  <button  style="width: 148px;" *ngIf="isArchived === true" mat-raised-button class="form-button2" [disabled]="checkIfHasSelected() " [ngClass]="checkIfHasSelected()  ? 'halfOpacity': ''"
    (click)="unArchiveGroup()">Haal uit archief</button>
  <button  style="width: 112px;" mat-raised-button class="form-button2" [disabled]="checkIfHasSelected() " [ngClass]="checkIfHasSelected()  ? 'halfOpacity': ''"
    (click)="goToPostnummers()">Postnummers</button>
  <button style="width: 114px;"  mat-raised-button class="form-button2" (click)="generatePDF()"><div class="divInsideButton">PDF fiche<mat-icon class="downloadImage">cloud_download</mat-icon></div></button>


  <button mat-raised-button class="form-button-green2" (click)="downloadExcelClientData()">
    <div class="divInsideButton">Excel Vlario 	<mat-icon class="downloadImage">cloud_download</mat-icon></div>
  </button>
  <button mat-raised-button class="form-button-green" (click)="downloadExcelClientDataMeetstaat()">
    <div class="divInsideButton">Excel meetstaat 	<mat-icon class="downloadImage">cloud_download</mat-icon></div>
  </button>
  <button mat-raised-button class="form-button4" (click)="setupVariables()" [disabled]="checkIfHasSelected() " [ngClass]="checkIfHasSelected()  ? 'halfOpacity': ''">Zet invulvelden uit</button>
  <button style="width: 112px;" mat-raised-button class="form-button2" [disabled]="checkIfHasSelected() " [ngClass]="checkIfHasSelected()  ? 'halfOpacity': ''"
          (click)="readLambertExcel()">Lambertcoord.</button>
</div>

<div class="page-header">
    <h2  nbPopoverTrigger="noop"  #popoverDirective="nbPopover" nbPopoverPlacement="end-bottom" [nbPopover]="templateRef"
         style="margin:0px 10px 0px 0">Project</h2>
  <!--SELECTEDPOPOVER-->
  <ng-template #templateRef>
          <span  *ngIf="selectedHuisaansluitingen != null || selectedWachtaansluitingen != null || selectedKolken != null">
            <h3 style="line-height: 2 !important;" class="selectedTitle">Geselecteerd:  <span><b>{{selectedHuisaansluitingen}}</b> HA   <b>{{selectedWachtaansluitingen}}</b> WA     <b>{{selectedKolken}}</b> Kolk</span></h3>
            <h3 class="selectedTitle">Ingevuld en geselecteerd:  <span style="color:blue"><b>{{selectedHuisaansluitingenWithValue}}</b> HA   <b>{{selectedWachtaansluitingenWithValue}}</b> WA     <b>{{selectedKolkenWithValue}}</b> Kolk</span></h3>
          </span>
  </ng-template>
    <button class='add-button' mat-raised-button color="primary" (click)="goToEdit()" [disabled]="checkIfHasSelected()" [ngClass]="checkIfHasSelected()? 'halfOpacity': ''"
      style=" min-width:auto; width: 95px !important; background-color:#3f51b5!important;">
      Project bewerken</button>
    <button mat-raised-button (click)="goToAddProject()" class="add-button" [disabled]="checkIfHasSelected()" [ngClass]="checkIfHasSelected()? 'halfOpacity': ''"
    >Creëer HA</button>
    <button mat-raised-button (click)="goToMultipleAddProject()" class="add-button" [disabled]="checkIfHasSelected()" [ngClass]="checkIfHasSelected()? 'halfOpacity': ''"
    >Creëer meerdere HA's</button>
    <button mat-raised-button (click)="createSlokker()"  class="add-button3" [disabled]="checkIfHasSelected()" [ngClass]="checkIfHasSelected()? 'halfOpacity': ''">
      Creëer kolk</button>
  <button mat-raised-button (click)="createMeerwerk()" class="add-button4" [disabled]="checkIfHasSelected()" [ngClass]="checkIfHasSelected()? 'halfOpacity': ''">
    Creëer OW</button>
  <button mat-raised-button (click)="createSchademelding()" class="add-button4" [disabled]="checkIfHasSelected()" [ngClass]="checkIfHasSelected()? 'halfOpacity': ''">
    Creëer Schademelding</button>

    <div class="rowFlex">
      <p class="normalText">Kleurencode:</p>

      <button mat-button [matMenuTriggerFor]="menu" style="margin-bottom: 0px; margin-left: -11px" *ngIf="isOn">
        <span class="material-icons">
          info
        </span>
      </button>
      <mat-menu id='myMenu' #menu="matMenu" class="matMenu1">
        <button class='infoSoort' mat-menu-item style="background-color: #90EE90; !important;">
          <span class="kleurenCode">Huisaansluiting</span>
        </button>
        <button class='infoSoort' mat-menu-item style="background-color: #ffc04c;">
          <span class="kleurenCode">Wachtaansluiting</span>
        </button>
        <button class='infoSoort' mat-menu-item style="background-color: #87cefa;">
          <span class="kleurenCode">Kolk</span>
        </button>
        <button class='infoSoort' mat-menu-item style="background-color: lightgrey; ">
          <span class="kleurenCode">Onvoorzien werk</span>
        </button>
        <button class='infoSoort' mat-menu-item style="background-color: #50C878; ">
          <span class="kleurenCode">Huisaansluiting afgewerkt</span>
        </button>
        <button class='infoSoort' mat-menu-item style="background-color: orange;">
          <span class="kleurenCode">Wachtaansluiting afgewerkt</span>
        </button>
        <button class='infoSoort' mat-menu-item style="background-color: #6495ED;">
          <span class="kleurenCode">Kolk afgewerkt</span>
        </button>
      </mat-menu>
    </div>
</div>

<div style='max-width:1400px'>
  <div *ngIf="isLoadingBar" class="loadingBar">
    <p *ngIf='!isDownloading && pdfProgressBlocks != null && pdfProgressBlocks.length !== 0' style="font-size: 16px; font-weight: 600; padding-left: 10px;padding-right: 10px; text-align:center;margin:5px 0"> We zijn bezig met het genereren van de fiches in PDF. Gelieve even te wachten...<br>
    </p>
    <br>
    <p *ngIf='!isDownloading && pdfProgressBlocks != null &&  pdfProgressBlocks.length === 0' style="font-size: 17px; font-weight: 600; padding-left: 10px;padding-right: 10px;  text-align:center;margin:5px 0">De fiches worden momenteel in een zip bestand geplaatst. Even geduld aub...<br>
    </p>
    <p *ngIf='isDownloading'  style="font-size: 17px; font-weight: 600; padding-left: 10px;padding-right: 10px;margin:5px 0">De fiches worden momenteel gedownload...Even geduld aub</p>
    <p *ngIf='!isDownloading && pdfProgressBlocks != null && pdfProgressBlocks.length !== 0' style="font-size: 17px; font-weight: 600; text-align:center; color: blue;margin:5px 0">U zit aan aansluiting {{(totalProjectCount - pdfProgressBlocks.length)}} van de {{totalProjectCount}}<br> <small style="color:black !important;">(aansluitingen zonder data zijn niet meegeteld)</small>
    </p>
    <ngx-loading-bar style='margin-bottom: 40px; margin-top: 30px;' diameter="40px" includeBar="false" fixed="false" color="blue" value="2"></ngx-loading-bar>
  </div>
</div>
<button *ngIf='isOn && !isLoadingBar' (click)="toggleProjectDetails()" class="btn btn-info" [disabled]="checkIfHasSelected()" [ngClass]="checkIfHasSelected()? 'halfOpacity': ''">
  <i style='margin-right: 8px' [class]="showProjectDetails ? 'fa fa-angle-up' : 'fa fa-angle-down'"></i>
  <b style="font-size: 15px !important;">{{ showProjectDetails ? 'Verberg Projectgegevens' :group?.rbGemeente + ' - ' + group?.aannemerProjectNr + ' - ' + group?.rbProjectNaam }}</b>
</button>
<div *ngIf="isOn" [hidden]='isLoadingBar' class="infoFlex">
  <div *ngIf="group?.rbProjectNaam && showProjectDetails" class="info-row">
    <div class="info-section">
      <div style='min-width:250px' class="info-item">
        <p>Projectnaam</p>
        <p class="bold">{{group?.rbProjectNaam}}</p>
      </div>
      <div class="info-item">
        <p>Gemeente</p>
        <p class="bold">{{group?.rbGemeente}}</p>
      </div>
      <div class="info-item">
        <p>Projectnr.</p>
        <p class="bold">{{group?.aannemerProjectNr}}</p>
      </div>
      <div class="info-item">
        <p>Werfleider</p>
        <p class="bold">{{group?.aannemerWerfleider}}</p>
      </div>
      <div style='height:70px !important; padding-top:0px !important;' class="info-item">
        <p style='margin-bottom:-1px !important;'>Gebruikers (mobile): </p>
        <nb-select *ngIf="group.users?.length; else noUsers" [selected]="firstUser" style="width: 200px !important;">
          <nb-option type="checkbox" *ngFor="let user of group.users" [value]="user.name || user.email">
            {{ user.name || user.email }}
          </nb-option>
        </nb-select>
        <ng-template #noUsers>
          <p class="bold">Geen mobiele werkers gekoppeld</p>
        </ng-template>
      </div>
    </div>
  </div>


  <div class="row3">
    <div style="padding-bottom: 5px;" class="rowFlex">
      <p class="normalText">Selecteer alles<br> voor downloads</p>
      <nb-toggle [checked]="selectEverything" class="margLeft" (checkedChange)="selectAll()" status="primary">
      </nb-toggle>
    </div>
    <div class='colFlex'>
      <mat-label class='sortText'>Sorteer</mat-label>
      <nb-select shape="semi-round" class="nbSelectBorder"  style="width: 202px; border: 1px solid #39a8ff; border-radius: 12px;" (ngModelChange)="selectSort($event)" [optionsListClass]="'soortFilter'" [(ngModel)]="sorteerSelect" id="extras">
        <nb-option-group title="Algemeen">
          <nb-option style='border-bottom:1px solid lightgray'  type="checkbox" *ngFor="let filter of sorteerItems"
                     value="{{ filter }}">
            {{ filter }}</nb-option>
        </nb-option-group>
        <nb-option-group title="Datum">
          <nb-option style='border-bottom:1px solid lightgray'  type="checkbox" *ngFor="let filter of sorteerItems2"
                     value="{{ filter }}">
            {{ filter }}</nb-option>
        </nb-option-group>
      </nb-select>
    </div>

      <div class='colFlex'>
        <mat-label class='sortText'>Filter</mat-label>
        <nb-select class="nbSelectBorder"  style="width: 190px;border: 1px solid #88a7da; border-radius: 5px;" [optionsListClass]="'soortFilter'" [(ngModel)]="filterSelect" id="extras" >
          <nb-option style='border-bottom:1px solid lightgray'  (selectionChange)="selectFilter(filter)" type="checkbox" *ngFor="let filter of filterItems"
                     value="{{ filter }}">
            {{ filter }}</nb-option>
        </nb-select>

      </div>

    <div class='colFlex'>
      <mat-label class='sortText'>Filter op straat</mat-label>
      <div style="display: flex; align-items: center;">

      <input nbInput
             [nbAutocomplete]="auto"
             style='width:170px !important; border: 1px solid #88a7da'
             class="search-box"
             [formControl]="searchForm"
             type="text"
             placeholder="Zoek op straat..."
             #searchInput>
        <button class="closeButton" [ngClass]="searchForm.value == null || searchForm.value === '' ? 'hideButton' : ''"
                nbButton status="warning" (click)="clearSearch()">
          <nb-icon icon="close-outline"></nb-icon>
        </button>
      </div>
      <nb-autocomplete  #auto>
        <nb-option *ngFor="let street of filteredStreets | async" [value]="street" (click)="filterOnStreetAutoComplete(street)">
          {{ street }}
        </nb-option>
      </nb-autocomplete>
    </div>


    <div  class='colFlex'>
        <nb-button-group status="info" size="tiny">
          <button nbButtonToggle (click)="changeFilterStartDatum('Afwerkingsdatum')" [pressed]="dateSorteer === 'Afwerkingsdatum'">Afwerkingsdatum</button>
          <button nbButtonToggle (click)="changeFilterStartDatum('Startdatum')"  [pressed]="dateSorteer === 'Startdatum'" >Startdatum</button>
        </nb-button-group>
        <div class="largeInsideRow">

          <input class="selectBox" style="border: 1px solid #88a7da"  [(ngModel)]="range" nbInput placeholder="Filter tussen datums.." [nbDatepicker]="datePicker">
          <nb-rangepicker (rangeChange)="dateChanged()" #datePicker></nb-rangepicker>
          <button *ngIf="range?.start" (click)="clearDate()" class="clear-button">Clear</button>
        </div>
      </div>
    </div>
</div>


<div *ngIf="isOn" cdkScrollable class="scroll-table">
  <table  cdkDropList class="item-list">
    <tr style="padding:4px 10px !important;" class="item-box">
      <th style="max-width:170px !important;min-width:170px !important;text-align: center;margin-left:15px ">Open</th>
      <th style="padding-left: 35px;max-width:150px;"><p style="width:89px;margin-bottom: 0;font-weight: bold">Selecteer</p></th>
      <th class="smallestCol">Soort</th>
      <th class="bigCol">Straat</th>
      <th class="smallCol">Huisnr</th>
      <th class="smallCol">Volgnr</th>
      <th class="smallCol">Startdatum</th>
      <th id="afwerkingHeader" [matMenuTriggerFor]="menu2" class="normalCol">
        <p style="font-size:14px;font-weight: bold;margin-bottom: 0;padding-top: 5px">Afwerkingsdatum</p>
        <div style="flex-direction: row;display: flex;gap: 0 5px;">
          <p style="margin-bottom: 0;width: fit-content"><small>of laatst gewijzigd</small>  </p>
          <span style="font-size: 18px;margin-top: 3px" class="material-icons">
          info
        </span>
        </div>
        <mat-menu id='myMenu' #menu2="matMenu" class="matMenu1">
          <div class="mat-menu-popover">
            <h6 style="font-weight: 500"><b>Afwerkingsdatum</b> toegevoegd vanaf <b>V12.2 (23/03/24)</b></h6>
            <p>Met ingang van versie V12.2, geïntroduceerd op 23 maart 2024, wordt een <b>afwerkingsdatum automatisch geregistreerd</b>
              bij het <b>markeren van een aansluiting als voltooid</b>.<br>Voor aansluitingen die vóór deze datum zijn afgewerkt of voor niet afgewerkte aansluitingen na deze datum
              wordt in plaats daarvan de notitie 'Laatst gewijzigd' weergegeven.<br>Deze nieuwe waarde zal er voor zorgen dat u
              <b>gemakkelijk de relevante periode kunt selecteren voor de vordering van de meetstaat</b></p>
          </div>
        </mat-menu>
      </th>
      <th class="smallCol">Aanmaak<br>datum</th>
    </tr>
    <tr [ngClass]="project.isSlokker && project.finished? 'blue' : project.isSlokker && !project.finished ?  'lightblue':
                  ((project.isWachtAansluiting != null && project.isWachtAansluiting) ||
                  (project.droogWaterAfvoer?.isWachtaansluiting != null && project.droogWaterAfvoer.isWachtaansluiting) ||
                  (project.regenWaterAfvoer?.isWachtaansluiting != null && project.regenWaterAfvoer.isWachtaansluiting)) && project.finished ? 'orange' :
                  ((project.isWachtAansluiting != null && project.isWachtAansluiting) ||
                  (project.droogWaterAfvoer?.isWachtaansluiting != null && project.droogWaterAfvoer.isWachtaansluiting) ||
                  (project.regenWaterAfvoer?.isWachtaansluiting != null && project.regenWaterAfvoer.isWachtaansluiting)) &&  (project.finished == null || project.finished === false)? 'lightorange' :
                  project.isMeerwerk ? 'lightgrey' :  project.finished === true ? 'green' : 'lightgreen'" class="item-box scroll"
      *ngFor="let project of searchAllProjectsList">
      <td style="max-width:170px !important;min-width:170px !important; max-height:40px !important;margin-left:15px">
        <div class="buttonsRow">
          <input type="button" (click)="openProject(project)" value="BEKIJK" class="openButton" [disabled]="checkIfHasSelected()"
                 [ngClass]="checkIfHasSelected()? 'halfOpacity': ''">
          <input type="button" (click)="editProject(project)" value="BEWERK" class="openButton" [disabled]="checkIfHasSelected()"
                 [ngClass]="checkIfHasSelected()? 'halfOpacity': ''">
        </div>
      </td>
      <td style="padding-left: 35px;max-width:150px;"><nb-toggle class="checkBox" [checked]="project.isSelected" (checkedChange)="selectProject(project._id)"
                                                                 status="primary"></nb-toggle></td>
      <td class="smallestCol" *ngIf="project.isSlokker">Kolk</td>
      <td class="smallestCol" *ngIf="project.droogWaterAfvoer != null && !project.isSlokker && ((project.isWachtAansluiting == null || project.isWachtAansluiting === false) &&
                   (project.droogWaterAfvoer.isWachtaansluiting == null || project.droogWaterAfvoer.isWachtaansluiting === false) &&
                   (project.regenWaterAfvoer.isWachtaansluiting == null || project.regenWaterAfvoer.isWachtaansluiting === false)) && !project.isMeerwerk">HA</td>
      <td class="smallestCol" *ngIf="project.droogWaterAfvoer != null && ((project.isWachtAansluiting != null && project.isWachtAansluiting) ||
                  (project.droogWaterAfvoer.isWachtaansluiting != null && project.droogWaterAfvoer.isWachtaansluiting) ||
                  (project.regenWaterAfvoer.isWachtaansluiting != null && project.regenWaterAfvoer.isWachtaansluiting))">WA</td>
      <td class="smallestCol" *ngIf="project.isMeerwerk">OW</td>
      <td class="bigCol">{{ project.street}}</td>
      <td class="smallCol">{{project.huisNr}}</td>
      <td class="smallCol">{{project.isSlokker || ((project.isWachtAansluiting != null && project.isWachtAansluiting) ||
        (project.droogWaterAfvoer?.isWachtaansluiting != null && project.droogWaterAfvoer.isWachtaansluiting) ||
        (project.regenWaterAfvoer?.isWachtaansluiting != null && project.regenWaterAfvoer.isWachtaansluiting))? project.index : ''}}</td>
      <td class="smallCol" *ngIf="project.startDate == null">niet gestart</td>
      <td class="smallCol" *ngIf="project.startDate != null">{{dateToDateString(project.startDate)}}</td>
      <td style=" max-width: 160px !important;" *ngIf="project.afgewerktDatum != null"><p [ngClass]="project.isSlokker? 'blueBorder' :
        ((project.isWachtAansluiting != null && project.isWachtAansluiting) ||
        (project.droogWaterAfvoer?.isWachtaansluiting != null && project.droogWaterAfvoer.isWachtaansluiting) ||
        (project.regenWaterAfvoer?.isWachtaansluiting != null && project.regenWaterAfvoer.isWachtaansluiting)) ? 'orangeBorder' : 'greenBorder'"
                                             style="margin-bottom: 0;margin-left: 15px;"        >{{dateToDateString(project.afgewerktDatum)}}</p></td>
      <td style="max-width: 160px !important;" class="normalCol " *ngIf="project.afgewerktDatum == null && project.updated != null && project.updated.toString() !== project.createdDate.toString()"><p style="margin-left: 15px;margin-bottom: 0"><small >Laatst gewijzigd<br></small>{{dateToDateString(project.updated)}}</p></td>
      <td style=" max-width: 160px !important;" class="normalCol" *ngIf="project.afgewerktDatum == null && (project.updated == null ||  project.updated.toString() === project.createdDate.toString())"></td>
      <td class="smallCol">{{dateToDateString(project.createdDate)}}</td>

    </tr>
  </table>
</div>
