<div class="topRow">
  <button mat-raised-button class="form-button" (click)="goToPrevious()">
    Terug
  </button>
  <div class="navigation-row">
    <button *ngIf="index != null && index !== -1" [disabled]="index === 0" mat-raised-button class="nav-button" (click)="onPreviousClick()">
      <i class="fa-solid fa-left-long navIcon"></i>
    </button>
    <p *ngIf="index != null && owAndSchademeldingList != null && index !== -1"  class="boldText">{{index + 1}}/{{owAndSchademeldingList.length}}</p>
    <button  *ngIf="index != null && index !== -1" [disabled]="index === owAndSchademeldingList.length - 1" mat-raised-button class="nav-button" (click)="onNextClick()">
      <i class="fa-solid fa-right-long navIcon"></i>
    </button>
  </div>
  <button mat-raised-button class="form-button-blue" (click)="goToEdit()">
    Bewerken
  </button>
  <button style="width: auto; margin-left: 70px" mat-raised-button class="form-button2" (click)="generatePDF()"><div class="divInsideButton">PDF 	<mat-icon class="downloadImage">cloud_download</mat-icon></div></button>
  <button style="width: auto" mat-raised-button class="form-button2" (click)="downloadPhotos()"><div class="divInsideButton">Foto's
    <mat-icon class="downloadImage">cloud_download</mat-icon></div></button>
  <button  mat-raised-button class="delete-button" color="warn" type="button"
          (click)="onDeleteClick()"><i style="margin-left: 2px" class="fa-solid fa-trash-can"></i></button>

</div>

<mat-card id="content" *ngIf="isLoaded"  class="project-card">
  <ngx-schademelding-pdf   [schademelding]="schademelding" [company]="company" [group]="group"></ngx-schademelding-pdf>
</mat-card>
<div *ngIf="isPrint" style="margin-left:10px; display:none;font-size:12px !important;margin-top: 600px;"   >
  <ngx-schademelding-pdf id="printContainer" [schademelding]="printSchademelding" [company]="company" [group]="group"></ngx-schademelding-pdf>
</div>
