<div id="schademeldingOverzicht">
  <h1 style="margin: 0 0 6px 12px;">Detailrapport schadegeval</h1>
  <div class="boxColumn">
    <h2>Algemene gegevens</h2>
    <p>Werf: <span id="werfNummer">{{schademelding.group_id?.rbProjectNaam}}</span></p>
    <p>Werfnummer: <span id="werfNaam">{{NullToEmptyStr(schademelding.group_id?.aannemerProjectNr)}}</span></p>
    <p>Werfleider: <span style="padding-right: 50px" id="date">{{NullToEmptyStr(schademelding.group_id?.aannemerWerfleider)}}</span><i class="fa-solid fa-clock faIcon"></i>Tijdstip ongeval: <span *ngIf="schademelding.date" id="created">{{('0' + schademelding.date.getDate()).slice(-2)}}/{{('0' + (schademelding.date.getMonth() + 1)).slice(-2)}}/{{('0' + schademelding.date.getFullYear()).slice(-2)}} -
      {{('0' + schademelding.date.getHours()).slice(-2)}}:{{('0' + schademelding.date.getMinutes()).slice(-2)}}</span></p>
    <p>Betrokken partij: <span id="tegenPartij">{{schademelding.tegenPartij}}</span></p>
  </div>
  <div class="boxColumn">
    <h2>Details van de Schade</h2>
    <p>Schade gericht aan: <span id="schadeGerichtAan">{{schademelding.schadeGerichtAan === 'Andere' ? schademelding.schadeGerichtAanAndereString : NullToEmptyStr(schademelding.schadeGerichtAan)}}</span></p>
    <p>Schade door: <span *ngIf="schademelding.schadeDoorWie" id="schadeDoorWie">{{NullToEmptyStr(schademelding.schadeDoorWie)}}</span></p>
    <p>Schade door wat: <span id="schadeDoorWat">{{schademelding.schadeDoorWat}}{{schademelding.tempMachineNummer != null? ' - ' + schademelding.tempMachineNummer: ''}}</span></p>
    <p>Soort activiteit: <span id="soortActiviteit">{{schademelding.soortActiviteit === 'Andere' ? schademelding.soortActiviteitAndereString : NullToEmptyStr(schademelding.soortActiviteit)}}</span></p>
    <p>Oorzaak van de schade: <span id="oorzaakSchade">{{schademelding.oorzaakSchade}}</span></p>
    <p *ngIf="checkIfSchadeGerichtAanIsNutsleidingenOfAndere()">Is leiding plan op werf? <span *ngIf="schademelding.isLeidingPlanOpWerf" id="isLeidingPlanOpWerf"><i class="fa-regular fa-square-check faIcon"></i></span>
    <span style="padding-left: 30px;font-weight: 500 !important;">Is leiding volgens plan? <span *ngIf="schademelding.isLeidingVolgensPlan" id="isLeidingVolgensPlan"><i class="fa-regular fa-square-check faIcon"></i></span></span></p>
    <p *ngIf="checkIfSchadeGerichtAanIsNutsleidingenOfAndere()">Diepte van de leiding: <span id="diepteLeiding">{{schademelding.diepteLeiding ? schademelding.diepteLeiding + ' meter' : ''}}</span>
      <span style="padding-left: 30px;font-weight: 500 !important;">Diepte graafwerken: <span id="diepteGraafwerken">{{schademelding.diepteGraafwerken ? schademelding.diepteGraafwerken + ' meter' : ''}}</span></span></p>
    <p *ngIf="checkIfSchadeGerichtAanIsNutsleidingenOfAndere()">Leiding beschermd: <span id="leidingBeschermd">{{schademelding.leidingBeschermd === 'Andere'? schademelding.leidingBeschermdAndereString : NullToEmptyStr(schademelding.leidingBeschermd)}}</span></p>
    <p>Plaats van werken: <span id="plaatsVanWerken">{{schademelding.plaatsVanWerken === 'Andere'? schademelding.plaatsVanWerkenAndereString : NullToEmptyStr(schademelding.plaatsVanWerken)}}</span></p>
    <p>Omschrijving van de schade: <span id="omschrijvingSchade">{{schademelding.omschrijvingSchade}}</span></p>
  </div>
  <div *ngIf="schademelding.group_id.gebruiktHerstellingBijSchademelding && checkIfHerstellingIsNotEmpty()" class="boxColumn">
    <h2>Herstelling</h2>
    <p>Starttijd herstelling: <span *ngIf="schademelding.startTijdHerstelling" id="startTijdHerstelling">{{('0' + schademelding.startTijdHerstelling.getDate()).slice(-2)}}/{{('0' + (schademelding.startTijdHerstelling.getMonth() + 1)).slice(-2)}}/{{('0' + schademelding.startTijdHerstelling.getFullYear()).slice(-2)}} -
      {{('0' + schademelding.startTijdHerstelling.getHours()).slice(-2)}}:{{('0' + schademelding.startTijdHerstelling.getMinutes()).slice(-2)}}</span></p>
    <p>Eindtijd herstelling: <span *ngIf="schademelding.eindTijdHerstelling" id="eindTijdHerstelling">{{('0' + schademelding.eindTijdHerstelling.getDate()).slice(-2)}}/{{('0' + (schademelding.eindTijdHerstelling.getMonth() + 1)).slice(-2)}}/{{('0' + schademelding.eindTijdHerstelling.getFullYear()).slice(-2)}} -
      {{('0' + schademelding.eindTijdHerstelling.getHours()).slice(-2)}}:{{('0' + schademelding.eindTijdHerstelling.getMinutes()).slice(-2)}}</span></p>
    <p>Aantal personen herstelling: <span id="aantalPersonen">{{schademelding.aantalPersonenHerstelling ? schademelding.aantalPersonenHerstelling + ' pers' : ''}}</span></p>
    <p>Details van schadeherstelling: <span id="detailsHerstelling">{{schademelding.detailsHerstelling}}</span></p>
  </div>
  <div *ngIf="schademelding.group_id.gebruiktJurdischeInfoBijSchademelding && checkIfPolitieIsNotEmpty()" class="boxColumn">
    <h2>Politie</h2>
    <p >Minnelijke vaststelling gebeurd? <span id="minnelijkeVaststelling">{{schademelding.isMinnelijkeVaststelling ? 'Ja' : 'Nee'}}</span></p>
    <p>Proces-verbaal opgesteld: <span id="isProcesVerbaal">{{schademelding.isProcesVerbaal ? 'Ja' : 'Nee'}}</span></p>
    <p>Gemeente politie: <span id="gemeentePolitie">{{schademelding.gemeentePolitie}}</span></p>
    <p>Is betwisting mogelijk: <span id="isBetwistingMogelijk">{{schademelding.isBetwistingMogelijk ? 'Ja' : 'Nee'}}</span></p>
  </div>

  <div class="pageBreak">
    <div class="fotoBoxColumn">
      <h2 style="padding-left: 10px">Fotos van schade</h2>
      <div class="two-photo-div">
        <div *ngIf="schademelding.photos[0]?.src" style="max-width:calc(96% / 2) !important;" class="imageColumn">
          <p class="fotoText">{{schademelding.photos[0].beschrijving}}</p>
          <img class="foto" src="{{schademelding.photos[0].src}}" alt="Foto 1">
        </div>
        <div *ngIf="schademelding.photos[1]?.src" style="max-width:calc(96% / 2) !important;" class="imageColumn">
          <p class="fotoText">{{schademelding.photos[1].beschrijving}}</p>
          <img class="foto" src="{{schademelding.photos[1].src}}" alt="Foto 2">
        </div>
      </div>
      <div class="two-photo-div">
        <div *ngIf="schademelding.photos[2]?.src" style="max-width:calc(96% / 2) !important;" class="imageColumn">
          <p class="fotoText">{{schademelding.photos[2].beschrijving}}</p>
          <img class="foto" src="{{schademelding.photos[2].src}}" alt="Foto 3">
        </div>
        <div *ngIf="schademelding.photos[3]?.src" style="max-width:calc(96% / 2) !important;" class="imageColumn">
          <p class="fotoText">{{schademelding.photos[3].beschrijving}}</p>
          <img class="foto" src="{{schademelding.photos[3].src}}" alt="Foto 4">
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="schademelding.photos[4]?.src || schademelding.photos[5]?.src" class="pageBreak">
    <div class="fotoBoxColumn">
      <h2 style="padding-left: 10px">Fotos van schade vervolg</h2>
      <div class="two-photo-div">
        <div *ngIf="schademelding.photos[4]?.src" style="max-width:calc(96% / 2) !important;" class="imageColumn">
          <p class="fotoText">{{schademelding.photos[4].beschrijving}}</p>
          <img class="foto" src="{{schademelding.photos[4].src}}" alt="Foto 1">
        </div>
        <div *ngIf="schademelding.photos[5]?.src" style="max-width:calc(96% / 2) !important;" class="imageColumn">
          <p class="fotoText">{{schademelding.photos[5].beschrijving}}</p>
          <img class="foto" src="{{schademelding.photos[5].src}}" alt="Foto 2">
        </div>
      </div>
    </div>
    </div>
</div>
