body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

#schademeldingOverzicht {
  border-radius: 8px;
}

h1 {
  color: #333;
}

h2 {
  border-bottom: 2px solid #0067a5;
  color: #0067a5;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
  line-height: 1.2;
}

span {
  font-weight: bold;
}
.boxColumn{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f4f3ff;
  padding:7px;
  border-radius: 8px;
  margin: 0 10px 20px 10px;
  border:1px solid lightgrey;
}
.faIcon{
  font-size: 21px;
  margin-right: 5px;
}
.two-photo-div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 12px !important;
  max-width: 760px!important;
  min-width:760px !important;
}
.imageColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:1px solid black;
  padding-top:5px;
  padding-bottom:5px;
  flex:1;
  background-color: white;
}
.foto{
  width: 100%;
  max-height: 415px;
  object-fit: contain;
  padding:2px;
}
.fotoText{
  padding:4px 10px;
  font-size: 15px ;
  width:214px !important;
  height:65px !important;
}
.fotoBoxColumn{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f4f3ff;
  border-radius: 8px;
  border:1px solid lightgrey;
  width:100%;
  margin-top: 25px;
}
