<div class='topRow'>
  <button mat-raised-button class="form-button" (click)="goToPrevious()">
    Terug
  </button>
  <div style='display: flex;flex-direction: column'>
    <h5 style="font-size: 21px; margin-bottom: 7px;">Stel invulvelden in die voor dit project van toepassing zijn.</h5>
    <h6 style="font-size: 16px; margin-bottom: 0px;">Als u een invulveld uitzet(uitvinken), dan verdwijnt deze op de mobiele app en admin-website voor het hele project.</h6>
  </div>
  <nb-spinner *ngIf="isSaving" class="opslaan-spinner" size="giant" [message]="'Opslaan..'" status="info"></nb-spinner>

</div>

<div class='settingsVariableDiv'>
  <p style='font-size: 16px;font-weight: 600; margin-top: 7px;width:fit-content'>Selecteer een project om de uitgezette<br> velden over te nemen van dit project:</p>
  <nb-select class='variableSelect' (selectedChange)='changeGroupVariableSettings($event)' id="type">
    <nb-option *ngFor="let group of groupsWithSettings" value="{{ group.rbProjectNaam }}" >
      {{ group.rbProjectNaam }}
    </nb-option>
  </nb-select>
</div>
<button style="margin-left: 20px;margin-top: 10px;" *ngIf="isLoaded" class="btn btn-info">
  <b style="font-size: 15px !important;">Project: {{group?.rbGemeente + ' - ' + group?.aannemerProjectNr + ' - ' + group?.rbProjectNaam }}</b>
</button>
 <mat-card class="add-card">
   <div class='floatingContainer'>
     <div class='bochtenDiv'>
       <p style='margin-bottom: 0px;margin-top: -5px;font-size: 16px'><b>Bochten in graden? Zo ja, vink aan -></b></p>
       <mat-checkbox color="primary" (checkedChange)="dwaValueChanged = true" [(ngModel)]='bochtenInGraden' type="checkbox" ></mat-checkbox>
     </div>
   </div>
     <div class='outerDiv'>
   <div class='flexer'>
  <h4>Invulvelden DWA</h4>
  <form *ngIf="isLoaded" [formGroup]="dwaForm" class="add-form">
    <table>
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td >
          <mat-checkbox color="primary" type="checkbox" formControlName='diepteRioleringHA'
          >Diepte riolering ter hoogte van HA</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>
          <mat-checkbox color="primary" type="checkbox" formControlName='diepteAansluitingWoning'
          >Diepte HA tov woning</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>
          <mat-checkbox color="primary" type="checkbox" formControlName='plaatsAansluiting'
          >Plaats aansluiting op riool tov oplopende huisnr.</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>
          <mat-checkbox color="primary" type="checkbox" formControlName='afstandPutMof'
          >Afstand midden stroomafwaartse put tot mof</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>
          <mat-checkbox color="primary" type="checkbox" formControlName='terugSlagKlep'>Terugslagklep</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>
          <mat-checkbox color="primary" type="checkbox" formControlName='ssGrond'
          >Situatieschets grondplan HA-putje tov perceel</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>
          <mat-checkbox color="primary" type="checkbox" formControlName='mof'
          >Mof</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>
          <mat-checkbox color="primary" type="checkbox" formControlName='krimpMof'
          >Krimpmof</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>
          <mat-checkbox color="primary" type="checkbox" formControlName='koppelStuk'
          >Koppelstuk</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>
          <mat-checkbox color="primary" type="checkbox" formControlName='stop'
          >Stop</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>
          <mat-checkbox color="primary" type="checkbox" formControlName='andere'
          >Andere</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>
          <mat-checkbox color="primary" type="checkbox" formControlName='sifonPutje'
          >Sifonputje</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>
          <mat-checkbox color="primary" type="checkbox" formControlName='tPutje'
          >T-putje</mat-checkbox>
        </td>
      </tr>
      </tbody>
    </table>

  </form>
   </div>
   <div class='flexer'>
     <h4>Invulvelden RWA</h4>
     <form *ngIf="isLoaded" [formGroup]="rwaForm"  class="add-form">
       <table>
         <thead>
         <tr>
           <th></th>
         </tr>
         </thead>
         <tbody>
         <tr>
           <td>
             <mat-checkbox color="primary" type="checkbox" formControlName='diepteRioleringHA'
             >Diepte riolering ter hoogte van HA</mat-checkbox>
           </td>
         </tr>
         <tr>
           <td>
             <mat-checkbox color="primary" type="checkbox" formControlName='diepteAansluitingWoning'
             >Diepte HA tov woning</mat-checkbox>
           </td>
         </tr>
         <tr>
           <td>
             <mat-checkbox color="primary" type="checkbox" formControlName='plaatsAansluiting'
             >Plaats aansluiting op riool tov oplopende huisnr.</mat-checkbox>
           </td>
         </tr>
         <tr>
           <td>
             <mat-checkbox color="primary" type="checkbox" formControlName='afstandPutMof'
             >Afstand midden stroomafwaartse put tot mof</mat-checkbox>
           </td>
         </tr>
         <tr>
           <td>
             <mat-checkbox color="primary" type="checkbox" formControlName='terugSlagKlep'
             >Terugslagklep</mat-checkbox>
           </td>
         </tr>
         <tr>
           <td>
             <mat-checkbox color="primary" type="checkbox" formControlName='ssGrond'
             >Situatieschets grondplan HA-putje tov perceel</mat-checkbox>
           </td>
         </tr>
         <tr>
           <td>
             <mat-checkbox color="primary" type="checkbox" formControlName='mof'
             >Mof</mat-checkbox>
           </td>
         </tr>
         <tr>
           <td>
             <mat-checkbox color="primary" type="checkbox" formControlName='krimpMof'
             >Krimpmof</mat-checkbox>
           </td>
         </tr>
         <tr>
           <td>
             <mat-checkbox color="primary" type="checkbox" formControlName='koppelStuk'
             >Koppelstuk</mat-checkbox>
           </td>
         </tr>
         <tr>
           <td>
             <mat-checkbox color="primary" type="checkbox" formControlName='stop'
             >Stop</mat-checkbox>
           </td>
         </tr>
         <tr>
           <td>
             <mat-checkbox color="primary" type="checkbox" formControlName='andere'
             >Andere</mat-checkbox>
           </td>
         </tr>
         <tr>
           <td>
             <mat-checkbox color="primary" type="checkbox" formControlName='aanslBovRwa'
             >Aansluitingen bovengrondse regenafvoer</mat-checkbox>
           </td>
         </tr>
         <tr>
           <td>
             <mat-checkbox color="primary" type="checkbox" formControlName='aanslOpenRwa'
             >Aansluiting op opengracht</mat-checkbox>
           </td>
         </tr>
         <tr>
           <td>
             <mat-checkbox color="primary" type="checkbox" formControlName='infilPutje'
             >Infiltratieputje</mat-checkbox>
           </td>
         </tr>
         <tr>
           <td>
             <mat-checkbox color="primary" type="checkbox" formControlName='tPutje'
             >T-putje</mat-checkbox>
           </td>
         </tr>
         </tbody>
       </table>
     </form>
   </div>
       <div class='outerColumnRight'>
             <div class='flexer'>
               <h4>Invulvelden Kolken</h4>
               <form *ngIf="isLoaded" [formGroup]="slokkerForm"  class="add-form">
                 <table>
                   <thead>
                   <tr>
                     <th></th>
                   </tr>
                   </thead>
                   <tbody>

                   <tr>
                     <td>
                       <mat-checkbox color="primary" type="checkbox" formControlName='mof'
                       >Mof</mat-checkbox>
                     </td>
                   </tr>
                   <tr>
                     <td>
                       <mat-checkbox color="primary" type="checkbox" formControlName='krimpmof'
                       >Krimpmof</mat-checkbox>
                     </td>
                   </tr>
                   <tr>
                     <td>
                       <mat-checkbox color="primary" type="checkbox" formControlName='koppelstuk'
                       >Koppelstuk</mat-checkbox>
                     </td>
                   </tr>
                   <tr>
                     <td>
                       <mat-checkbox color="primary" type="checkbox" formControlName='stop'
                       >Stop</mat-checkbox>
                     </td>
                   </tr>
                   <tr>
                     <td>
                       <mat-checkbox color="primary" type="checkbox" formControlName='andere'
                       >Andere</mat-checkbox>
                     </td>
                   </tr>
                   <tr>
                     <td>
                       <mat-checkbox color="primary" type="checkbox" formControlName='diepteAansluitingMv'
                       >Diepte aansluiting tov MV</mat-checkbox>
                     </td>
                   </tr>
                   <tr>
                     <td>
                       <mat-checkbox color="primary" type="checkbox" formControlName='diepteAanboringRiool'
                       >Diepte aanboring op riool tov MV</mat-checkbox>
                     </td>
                   </tr>
                   <tr>
                     <td>
                       <mat-checkbox color="primary" type="checkbox" formControlName='infiltratieKlok'
                       >Infiltratiekolk</mat-checkbox>
                     </td>
                   </tr>
                   <tr>
                     <td>
                       <mat-checkbox color="primary" type="checkbox" formControlName='aansluitingOpengracht'
                       >Kolk aansluiting opengracht</mat-checkbox>
                     </td>
                   </tr>
                   <tr>
                     <td>
                       <mat-checkbox color="primary" type="checkbox" formControlName='plaatsAansluiting'
                       >Plaats aansluiting op riool tov oplopende huisnr.</mat-checkbox>
                     </td>
                   </tr>

                   </tbody>
                 </table>
               </form>
             </div>
       <div style="max-width: 370px;" class="flexer">
           <h4 style="text-align: center">Invulvelden schademeldingen</h4>
           <form *ngIf="isLoaded" [formGroup]="schademeldingForm" class="add-form">
             <table>
               <thead>
               <tr>
                 <th></th>
               </tr>
               </thead>
               <tbody>
               <tr>
                 <td>
                   <mat-checkbox color="primary" type="checkbox" formControlName='gebruiktHerstellingBijSchademelding'
                   >Herstelling toevoegen aan schademeldingen?
                     <br><small>(op mobiele app en website)</small></mat-checkbox>
                 </td>
               </tr>
               <tr>
                 <td> <img style="width:70% !important;" src="../../../../assets/herstellingInfoFoto.png" alt="Foto" class="foto"></td>
               </tr>
               <tr>
                 <td>
                   <mat-checkbox color="primary" type="checkbox" formControlName='gebruiktJurdischeInfoBijSchademelding'
                   >Jurdische info toevoegen aan schademeldingen?
                     <br><small>(alleen op website)</small></mat-checkbox>
                 </td>
               </tr>
               <tr>
                 <td> <img style="width:50% !important;" src="../../../../assets/juridischeInfoFoto.png" alt="Foto" class="foto"></td>
               </tr>
               </tbody>
             </table>
           </form>
       </div>
       </div>
   </div>
   <button mat-raised-button [ngStyle]="isComingFromCreateGroup ? {'width': '220px'} : {'width': '175px'}" class="save-buttoné" color="primary" (click)='saveSettings()'>
     {{isComingFromCreateGroup? 'Opslaan en ga naar project' : 'Opslaan'}}
   </button>
</mat-card>
