<div class="topRow">
    <h1 style='margin:0'>Gearchiveerde projecten</h1>
    <div class="innerRow">
        <h6>Zoek op :</h6>
        <nb-select [(ngModel)]="searchSelect" id="extras">
            <nb-option (selectionChange)="selectItem(item)" type="checkbox" *ngFor="let item of searchItems"
                value="{{ item }}">
                {{ item }}</nb-option>
        </nb-select>

        <form *ngIf="searchItem === 'Project nr.'" class="search-form">
            <input class="search-box" #categoryInput nbInput type="text" matInput [formControl]="searchForm"
                [matAutocomplete]="auto" (keyup.enter)="onSearchEnter(categoryInput.value)" placeholder="Zoeken..." />
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let group of filteredGroups | async" [value]="group.projectNr"
                    (click)="onSearch(group._id)">
                    {{ group.projectNr }}
                </mat-option>
            </mat-autocomplete>
        </form>

        <form *ngIf="searchItem === 'Projectnaam'" class="search-form">
            <input class="search-box" #categoryInput nbInput type="text" matInput [formControl]="searchForm"
                [matAutocomplete]="auto" (keyup.enter)="onSearchEnter(categoryInput.value)" placeholder="Zoeken..." />
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let group of groups" (click)="onSearch(group._id)">
                    {{ group.projectNaam }}
                </mat-option>
            </mat-autocomplete>
        </form>
        <form *ngIf="searchItem === 'Gemeente'" class="search-form">
            <input class="search-box" #categoryInput nbInput type="text" matInput [formControl]="searchForm"
                [matAutocomplete]="auto" (keyup.enter)="onSearchEnter(categoryInput.value)" placeholder="Zoeken..." />
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let group of groups" (click)="onSearch(group._id)">
                    {{ group.gemeente }}
                </mat-option>
            </mat-autocomplete>
        </form>
        <form *ngIf="searchItem === 'Straat'" class="search-form">
            <input class="search-box" #categoryInput nbInput type="text" matInput [formControl]="searchForm"
                [matAutocomplete]="auto" (keyup.enter)="onSearchEnter(categoryInput.value)" placeholder="Zoeken..." />
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let group of groups" (click)="onSearch(group._id)">
                    {{ group.street}}
                </mat-option>
            </mat-autocomplete>
        </form>
    </div>
</div>

<form *ngIf="isLoaded"  class="add-form">
  <div cdkScrollable class="scroll-table">
    <table cdkDropList class="item-list">
      <tr class="item-box-header">
        <th style='max-width:180px'></th>
        <th style='padding-right: 15px;'>Projectnaam</th>
        <th>Details</th>
        <th style='max-width: 210px'>Naam rioolbeheerder</th>
        <th class='maxWidth100'>Aantal<br>aansluitingen</th>
        <th style='max-width:160px;'>Startdatum</th>
      </tr>
      <tr class="item-box2" *ngFor="let group of groups; let i = index">
        <td  style='max-width:180px'>
          <div class="buttonsRow">
            <input type="button" (click)="openGroup(group)" value="OPEN" class="openButton">
          </div>
        </td>
        <td style='line-height: 1.1rem;  color: blue; padding-right: 15px;'>{{group.rbProjectNaam}}</td>
        <td>
          <div class='detailsColumn'>
            <p class='detailsText'><span class='smallBijText'>gemeente: </span>{{group.rbGemeente}}</p>
            <p class='detailsText'><span class='smallBijText'>projectnr: </span>{{group.aannemerProjectNr}}</p>
            <p class='detailsText'><span class='smallBijText'>startdatum: </span>{{group.createdDate.toLocaleDateString()}}</p>
          </div>
        </td>
        <td style='max-width: 210px'>{{group.rbNaam}}</td>
        <td class='maxWidth100'>
          <div  class='detailsColumn'>
            <p class='detailsText'><span class='smallBijText smaller'>HA: </span>{{group.haCount}}</p>
            <p class='detailsText'><span class='smallBijText smaller'>Kolk: </span>{{group.kolkCount}}</p>
          </div>
        </td>
        <td style='max-width:160px;'>{{group.createdDate.toLocaleDateString()}}</td>
      </tr>
    </table>
  </div>
</form>
