<div class="topRow">
  <button  mat-raised-button class="form-button" (click)="goToPrevious()">
    Terug
  </button>
  <button (click)="onSubmitForm()" mat-raised-button class="save-button" color="primary" type="submit">
    Opslaan
  </button>
  <nb-spinner *ngIf="isSaving" class="opslaan-spinner" size="giant" [message]="'Opslaan..'" status="info"></nb-spinner>

</div>

<mat-card id="content" *ngIf="isLoaded" class="project-card">
  <form *ngIf="isLoaded" [formGroup]="meerwerkForm" (ngSubmit)="onSubmit(meerwerkForm.value)" class="add-form">
    <h2 class="page-title">Nieuw onvoorzien werk aanmaken</h2>
    <div class="row-container">
      <div class="column-container">
        <div class="data-container">
          <p class="label-text">Projectnaam</p>
          <p class="data-text">{{group.rbProjectNaam}}</p>
        </div>
        <div class="data-container">
          <p class="label-text">Projectnummer</p>
          <p class="data-text">{{group.aannemerProjectNr}}</p>
        </div>
        <div class="data-container">
          <p class="label-text">Gemeente</p>
          <p class="data-text">{{group.rbGemeente}}</p>
        </div>
        <div class="data-container">
          <p class="label-text">Start datum</p>
          <div class="startDiv">
            <p class="startText">Wijzig startdatum -></p>
            <input [nbDatepicker]="datepicker">
            <nb-datepicker (dateChange)="setDate($event)" #datepicker></nb-datepicker>
          </div>
          <p class="data-text" *ngIf="currentMeerwerk.startDate == null;else dateTekst">Nog niet gestart</p>
          <ng-template #dateTekst>
            <p class="data-text">{{currentMeerwerk.startDate == null ? '' : currentMeerwerk.startDate | date: 'dd/MM/yyyy'}}</p>
          </ng-template>
        </div>
        <div class="data-container">
          <p class="label-text">Plaats/straat</p>
          <input nbInput class="normalInput" type="text" formControlName="street" />
        </div>
        <div class="data-container">
          <p class="label-text">Huisnummer/nummer</p>
          <input class="smallInput" nbInput type="text" formControlName="huisNr" />
        </div>
        <div class="data-container">
          <p class="label-text">Postnummer (optioneel)</p>
          <input class="normalInput" nbInput type="text" formControlName="postNumber" />
        </div>
      </div>

      <div class="column-container">
        <div class="data-container">
          <p class="label-text">Activiteit</p>
          <input class="activiteitInput" nbInput type="text" formControlName="activiteit" />
        </div>
        <div class="data-container">
          <p class="label-text">Aantal werkuren</p>
          <nb-select class="bigInput" formControlName="minutesWorked" id="type">
            <nb-option value="0">0 min</nb-option>
            <nb-option value="15">15 min</nb-option>
            <nb-option value="30">30 min</nb-option>
            <nb-option value="45">45 min</nb-option>
            <nb-option value="60">1 uur</nb-option>
            <nb-option value="75">1 uur 15 min</nb-option>
            <nb-option value="90">1 uur 30 min</nb-option>
            <nb-option value="105">1 uur 45 min</nb-option>
            <nb-option value="120">2 uur</nb-option>
            <nb-option value="135">2 uur 15 min</nb-option>
            <nb-option value="150">2 uur 30 min</nb-option>
            <nb-option value="165">2 uur 45 min</nb-option>
            <nb-option value="180">3 uur</nb-option>
            <nb-option value="195">3 uur 15 min</nb-option>
            <nb-option value="210">3 uur 30 min</nb-option>
            <nb-option value="225">3 uur 45 min</nb-option>
            <nb-option value="240">4 uur</nb-option>
            <nb-option value="255">4 uur 15 min</nb-option>
            <nb-option value="270">4 uur 30 min</nb-option>
            <nb-option value="285">4 uur 45 min</nb-option>
            <nb-option value="300">5 uur</nb-option>
            <nb-option value="360">6 uur</nb-option>
            <nb-option value="420">7 uur</nb-option>
            <nb-option value="480">8 uur</nb-option>
          </nb-select>
        </div>
        <div class="data-container">
          <p class="label-text">Aantal werknemers</p>
          <nb-select class="bigInput" formControlName="countEmployees" id="type">
            <nb-option value="1">1</nb-option>
            <nb-option value="2">2</nb-option>
            <nb-option value="3">3</nb-option>
            <nb-option value="4">4</nb-option>
            <nb-option value="5">5</nb-option>
            <nb-option value="6">6</nb-option>
            <nb-option value="7">7</nb-option>
            <nb-option value="8">8</nb-option>
            <nb-option value="9">9</nb-option>
            <nb-option value="10">10</nb-option>
          </nb-select>
        </div>
        <div class="data-container">
          <p class="label-text">Opmerking</p>
          <textarea nbInput class="opmerkingInput" type="text" formControlName="opmerking" ></textarea>
        </div>
      </div>
    </div>

    <div  class="image-container">
      <div class="image-header">
        <label class="section-title">Foto's</label>

      </div>

      <div *ngFor="let photo of photos; let i = index">
        <div  class="fotoColumn">
          <div class="innerColumn">
            <input *ngIf="photo != null" (click)="deleteFoto(i)" type="button" value="Verwijder" class="deleteButton">
            <p class="fotoText" >Foto {{i+1}}:</p>
            <img *ngIf="photo != null" src="{{photo}}" class="photo" name="photo" >
            <p *ngIf="photo == null" style="margin-bottom: 30%;font-size: 18px;font-weight: 600" >Geen foto</p>
          </div>
          <div class="upload-container">
            <input class="" *ngIf="photo == null" type="file" name="file" (change)="onFileSelect($event,i)"
                   accept=".png,.jpg,.jpeg,.tiff" class="uploadButton" />
          </div>

        </div>
      </div>


      <p class="fotoTextBig" *ngIf="chosenImageList != null && chosenImageList.length != 0">Foto's om up te loaden :</p>
      <div *ngIf="chosenImageList != null && chosenImageList.length != 0"  class="uploadable-images-container">
        <div *ngFor="let image of chosenImageList; let i = index">
          <p class="fotoText">Foto {{chosenImageListIndex[i] + 1}}:</p>
          <img [src]="image" class="photo" />
        </div>
      </div>


      <!-- <img [src]="chosenImage" height="200" *ngIf="chosenImage" class="photo"> -->

    </div>



  </form>
</mat-card>

<div class="bottomButtons" *ngIf="isLoaded">
  <button mat-raised-button class="form-button" (click)="goToPrevious()">
    Terug
  </button>
  <button (click)="onSubmitForm()" mat-raised-button class="save-button" color="primary" type="submit">
    Opslaan
  </button>
</div>

