input {
  margin: 0.4rem;
}

.mat-form-field-flex {
  background-color: #f7f9fc;
}
.save-button{
  width: 150px;
  height:40px;
  margin: 17px 12px 12px 25px !important;
  font-weight: 800;
  letter-spacing: 1.4pt;
  font-size: 21px;
}
.normalInput{
  width:215px !important;
  height:32px !important;
  margin:6px 0 0 5px !important;
}
.normalInput2{
  width:215px !important;
  height:32px !important;
  margin:20px 0 0 5px !important;
}
