input {
  margin: 0.4rem;
}

.mat-form-field-flex {
  background-color: #f7f9fc;
}
.save-button{
  width: 150px;
  height:40px;
  margin: 17px 12px 12px 25px !important;
  font-weight: 800;
  letter-spacing: 1.4pt;
  font-size: 21px;
}
.normalInput{
  width:215px !important;
  height:32px !important;
  margin:6px 0 0 5px !important;
}
.normalInput2{
  width:215px !important;
  height:32px !important;
  margin:20px 0 0 5px !important;
}
.opslaan-spinner{
  background-color: white;
  width:160px;
  height:170px;
  --spinner-text-font-size:24px !important;
  --spinner-height-giant: 5rem;
  //poisiton center
  position: fixed;
  top: calc(50% - 90px);
  left: calc(46% - 90px);
  border-radius: 10px;
  box-shadow:  0 0 10px 5px rgba(0, 0, 0, 0.2);
  display:flex;
  flex-direction:column;
  justify-content:center;
  gap: 40px 0;
  align-items:center;
}
