<div *ngIf="isLoaded" class="topRow">
  <button mat-raised-button class="form-button" (click)="goToPrevious()">
    Terug
  </button>
  <button *ngIf="index !== -1" [disabled]="isFirst" mat-raised-button class="form-button" (click)="onPreviousClick()">
    Vorige
  </button>
  <button *ngIf="index !== -1" [disabled]="isLast" mat-raised-button class="form-button" (click)="onNextClick()">
    Volgende
  </button>
  <button (click)="onSubmitForm()" mat-raised-button class="form-button-blue" color="primary" type="submit">
    Opslaan
  </button>
  <p class="boldText" *ngIf="index !== -1">{{index + 1}}/{{totalProjectCount}}</p>
  <button (click)="goToView()"  mat-raised-button class="form-button3" >
    Ga naar view
  </button>
</div>

<mat-card id="content" *ngIf="isLoaded" class="project-card">
  <form *ngIf="isLoaded" [formGroup]="meerwerkForm" (ngSubmit)="onSubmit(meerwerkForm.value)" class="add-form">
    <h3 class="page-title">Onvoorzien werk bewerken <small style='font-size:15px; margin-top:-5px'>   {{group.rbProjectNaam}} | {{group.rbGemeente}} | {{group.aannemerProjectNr}}</small></h3>
    <p *ngIf="projectEditedByGronwderker" style="font-weight: bold;margin-left: 25px; color:red">Attentie ! Dit onvoorzien werk is {{formService.workerHours}} uur geleden geopend door grondwerker {{formService.workerName }}.<br> U kan best niet op de zelfde dag de aansluiting bewerken
      omdat er een risico is dat je aanpassingen kan verwijderen.</p>
  <div class="row-container">
    <div class="column-container">
      <div class="data-container">
        <div style="min-height: 50px;margin-top: -8px" class="largeInsideRow">
          <p style="margin-bottom: 0;min-width: 135px" class="label-text">Start datum </p>

          <input class="selectBox" nbInput placeholder="Kies een datum" formControlName="startDate" [nbDatepicker]="datePicker">
          <nb-datepicker  #datePicker></nb-datepicker>
          <button (click)="clearDate()" class="clear-button">Clear</button>
        </div>
      </div>
      <div class="data-container">
        <p class="label-text">Plaats/straat</p>
        <input nbInput class="normalInput" type="text" formControlName="street" />
      </div>
      <div class="data-container">
        <p class="label-text">Huisnummer/nummer</p>
        <input class="smallInput" nbInput type="text" formControlName="huisNr" />
      </div>
      <div class="data-container">
        <p class="label-text">Postnummer (optioneel)</p>
        <input class="normalInput" nbInput type="text" formControlName="postNumber" />
      </div>
      <div style='margin-top: 15px;margin-bottom: 15px;' class='data-container'>
        <button *ngIf='currentProject.xCoordGeoLocationFirsPhoto != null || currentProject.yCoordGeoLocationFirsPhoto != null'
                nbButton
                class="global-location-button"
                (click)='openMapDialog(currentProject.xCoordGeoLocationFirsPhoto, currentProject.yCoordGeoLocationFirsPhoto, "Meerwerk")'>
          Bekijk locatie
        </button>
      </div>
      <div  style='justify-content: center !important;align-items: center; gap:4px;margin-top: -6px;' class="data-container">
        <p class="info-card">
          Aangemaakt<br><strong>{{dateToDateString(currentProject.createdDate)}}</strong>
        </p>
        <p *ngIf="currentProject.createdDate.getTime() !== currentProject.updated.getTime()" class="info-card">
          Laatst gewijzigd<br><strong>{{dateToDateString(currentProject.updated)}}</strong>
        </p>
        <p style="flex-grow: 1" *ngIf="currentProject.lastWorkerDate != null && currentProject.lastWorker != null" class="info-card">
          Laatste geopend mobiele app<br>
          <strong>{{currentProject.lastWorker.name + ' - ' + dateToDateString(currentProject.lastWorkerDate)}}</strong>
        </p>
      </div>
    </div>

    <div class="column-container">
      <div class="data-container">
        <p class="label-text">Aantal werkuren</p>
        <nb-select class="normalInput" formControlName="minutesWorked" id="type">
          <nb-option value="0">0 min</nb-option>
          <nb-option value="15">15 min</nb-option>
          <nb-option value="30">30 min</nb-option>
          <nb-option value="45">45 min</nb-option>
          <nb-option value="60">1 uur</nb-option>
          <nb-option value="75">1 uur 15 min</nb-option>
          <nb-option value="90">1 uur 30 min</nb-option>
          <nb-option value="105">1 uur 45 min</nb-option>
          <nb-option value="120">2 uur</nb-option>
          <nb-option value="135">2 uur 15 min</nb-option>
          <nb-option value="150">2 uur 30 min</nb-option>
          <nb-option value="165">2 uur 45 min</nb-option>
          <nb-option value="180">3 uur</nb-option>
          <nb-option value="195">3 uur 15 min</nb-option>
          <nb-option value="210">3 uur 30 min</nb-option>
          <nb-option value="225">3 uur 45 min</nb-option>
          <nb-option value="240">4 uur</nb-option>
          <nb-option value="255">4 uur 15 min</nb-option>
          <nb-option value="270">4 uur 30 min</nb-option>
          <nb-option value="285">4 uur 45 min</nb-option>
          <nb-option value="300">5 uur</nb-option>
          <nb-option value="360">6 uur</nb-option>
          <nb-option value="420">7 uur</nb-option>
          <nb-option value="480">8 uur</nb-option>
        </nb-select>
      </div>
      <div class="data-container">
        <p class="label-text">Aantal werknemers</p>
        <nb-select class="normalInput" formControlName="countEmployees" id="type">
          <nb-option value="1">1</nb-option>
          <nb-option value="2">2</nb-option>
          <nb-option value="3">3</nb-option>
          <nb-option value="4">4</nb-option>
          <nb-option value="5">5</nb-option>
          <nb-option value="6">6</nb-option>
          <nb-option value="7">7</nb-option>
          <nb-option value="8">8</nb-option>
          <nb-option value="9">9</nb-option>
          <nb-option value="10">10</nb-option>
        </nb-select>
      </div>
      <div class="data-container">
        <p class="label-text">Opmerking</p>
        <textarea nbInput class="opmerkingInput" type="text" formControlName="opmerking" ></textarea>
      </div>
    </div>
  </div>

  <div  class="image-container">
    <div class="image-header">
      <label class="section-title">Foto's</label>

    </div>

    <div class="photos-container" >
      <div *ngFor="let photo of photos; let i = index"  [ngClass]="photo == null && !getCorrespondingTemporaryImage(i) ? 'smallFotoColumn' : ''" class="fotoColumn">
        <div class="innerColumn">
          <button *ngIf="photo != null"  (click)="deleteFoto(i)" type="button"
                  class="deleteButton2"><i style="color:white;padding-left: 2px;" class="fa-solid fa-trash-can"></i></button>
          <p class="fotoText" >Foto {{i+1}}:</p>
          <img *ngIf="photo != null" src="{{photo}}" (click)="imagePopUp(photo)" class="photo" name="photo" >
            <p *ngIf="!photo && !getCorrespondingTemporaryImage(i)" style="margin-bottom: 30%;font-size: 18px;font-weight: 600" >Geen foto</p>
            <div *ngIf="photo == null && !getCorrespondingTemporaryImage(i)" class="upload-container-empty">
              <h3 style="font: 400 16px / 28px Roboto, sans-serif;">Voeg foto toe</h3>
              <input type="file" name="file" (change)="onFileSelect($event,i)"
                     accept=".png,.jpg,.jpeg,.tiff" class="uploadButton" />
            </div>
        </div>
        <p style="width:100%;text-align:center;margin-top:12px;font-size:17px;font-weight:600" *ngIf="checkIfIsTemporaryImage(i)">Klaar om op te slaan</p>
      </div>
    </div>

  </div>



  </form>
</mat-card>
